.share-button-container {
    display: inline;
    button {
        margin: 15px 10px 15px 10px;
        &:nth-child(1) {
            margin-left: 0;
        }

        .icon {
            margin-right: 5px;
            margin-bottom: 2px;
        }
    }
}

.cancel-btn {
    display: block;
    width: 50%;
    margin: 15px auto 0 auto;
}
