<div class="filters border-1">
  <h4>
    When
  </h4>
  <mat-chip-list multiple>
    <mat-chip *ngFor="let range of dateRanges" [selected]="isDateRangeSelected(range)"
      (click)="activateDateRange(range)">{{range.name}}</mat-chip>
    <mat-chip (click)="openCustomDateDialog()" [selected]="customDateRange">Custom</mat-chip>
  </mat-chip-list>
  <br>
  <h4>
    Topics (<a (click)="clearTagFilters()">Clear All</a>)
  </h4>
  <app-expandable>
    <mat-chip-list multiple>
      <mat-chip *ngFor="let info of tagInfos" [selected]="isTagSelected(info)" (click)="toggleSelected(info)">{{info.tag
        | decodeHtmlString | customTitleCase }}
        ({{info.count}})</mat-chip>
    </mat-chip-list>
  </app-expandable>
</div>
