<div class="filters border-1">
  <h4>
    Filter
  </h4>
  <mat-form-field>
    <input matInput placeholder="Your keywords go here..." (keyup)="debouncedSearch($event.target.value)"
      [maxLength]="maxQueryLength">
  </mat-form-field>
  <h4>
    Date
  </h4>
  <app-date-picker-field [placeholder]="'Start Date'" [initialValue]="activeDateRange.start"
    (dateChange)="startDateTimeChanged($event)"></app-date-picker-field>
  to
  <app-date-picker-field [placeholder]="'End Date'" [initialValue]="activeDateRange.end"
    (dateChange)="endDateTimeChanged($event)"></app-date-picker-field>
  <mat-chip-list multiple>
    <mat-chip *ngFor="let range of dateRanges" [selected]="isDateRangeSelected(range)"
      (click)="activateDateRange(range)">{{range.name}}</mat-chip>
  </mat-chip-list>
  <br>
  <h4>
    Topics (<a (click)="clearTagFilters()">Clear All</a>)
  </h4>
  <mat-chip-list multiple>
    <mat-chip *ngFor="let info of tagInfos" [selected]="isTagSelected(info)" (click)="toggleSelected(info)">{{info.tag
      | decodeHtmlString | customTitleCase }}
      ({{info.count}})</mat-chip>
  </mat-chip-list>
</div>
