.filters {
    margin-bottom: 10px;
    padding: 10px;
}

.nav {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    height: 52px;
    text-align: center;

    h3 {
        margin-top: 10px;
    }

    /* Style the buttons that are used to open the tab content */
    button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        width: 50%;
    }
    
    /* Change background color of buttons on hover */
    button:hover {
        background-color: #ddd;
    }
    
    /* Create an active/current tablink class */
    button.active {
        background-color: #ccc;
    }
    
    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
}
