<h1>Provo Report 🎉</h1>
<h3 class="subtitle">Everything you need to get out in Provo area...</h3>
<h2>Local Events</h2>
<div class="row">
  <div class="col-lg-5 order-lg-2">
    <sticky [sticky-media-query]="'min-width: 992px'" sticky-offset-top="30" sticky-class="sticky-favorites">
      <app-saved-events></app-saved-events>
    </sticky>
  </div>
  <div class="col-lg order-lg-1">
    <div class="nav">
      <h3>
        Feed
      </h3>
    </div>
    <app-event-filters></app-event-filters>
    <router-outlet></router-outlet>
  </div>
</div>
