@import '../../variables.scss';

.nav {
    /* Style the buttons that are used to open the tab content */
    button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        width: 100%;
    }

    /* Change background color of buttons on hover */
    button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    button.active {
        background-color: $gray-light;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid $gray-light;
        border-top: none;
    }
}
