<div class="card">
  <div class="container">
    <div>
      <img class="thumbnail" src={{event.thumbnail}}>
    </div>
    <div class="event-info">
      <h4><a href={{event.url}} target="_blank">{{event.title}}</a></h4>
      <table>
        <tr *ngIf="event.location">
          <td>Location:</td>
          <td>{{event.location}}</td>
        </tr>
        <tr *ngIf="event.time">
          <td>Time:</td>
          <td>{{event.time}}</td>
        </tr>
      </table>

    </div>
    <div class="actions">
      <img *ngIf="!saved" class="icon" (click)="save(event)" alt="Save event" src="assets/heart-outline.svg">
      <img *ngIf="saved" class="icon" (click)="unSave(event)" alt="Save event" src="assets/save-calendar.svg">
      <a href="{{getGoogleCalendarUrl(event)}}" target="_blank"><img class="icon" alt="Add to calendar" src="assets/save-calendar.svg"></a>
    </div>
  </div>
</div>
