@import "../../../variables.scss";

.nav {
    .share-icon {
        position: absolute;
        top: 12px;
        right: 28px;
        font-size: 28px;
        cursor: pointer;
    }
}

.scroll-container {
    overflow-y: auto;
    max-height: 60vh;

    .no-favorites {
        padding: 20px;
        text-align: center;
    }
}
