/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 72pt;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-size: 28pt;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 16pt;
}

.fc-toolbar {
    h2 {
        font-size: 16pt;
    }
}

.border-1 {
    border: 1px solid;
}

.border-2 {
    border: 2px solid;
}

.color-black {
    color: black;
}
