/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./variables.scss";

* {
    padding: 0;
    margin: 0;
}

body {
    overflow-y: scroll;
}

h1 {
    font-size: 60pt;
    font-family: sans-serif;
    margin-bottom: 0 !important;
}

h2 {
    font-size: 28pt;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 16pt;
}

h3.subtitle {
    margin-top: -10px;
    margin-bottom: 35px;
}

.fc-toolbar {
    h2 {
        font-size: 16pt;
    }
}

.border-1 {
    border: 1px solid $gray-light;
}

.border-2 {
    border: 2px solid $gray-light;;
}

.color-black {
    color: black;
}

.app-flex-row {
    display: flex;
    flex-direction: row;
}

.app-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.margin-bottom {
    margin-bottom: 20px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;

    &:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
}

.no-underline {
    text-decoration: none;

    &:hover, &:visited, &:link, &:active {
        text-decoration: none;
    }
}

.sticky-favorites {
    width: 445px !important;
}

.nav {
    overflow: hidden;
    border: 1px solid $gray-light;
    background-color: $gray-lighter;
    margin-bottom: 10px;
    height: 52px;
    text-align: center;

    h3 {
        margin-top: 10px;
    }
}
