/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 72pt;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-size: 28pt;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 16pt;
}

.fc-toolbar {
    h2 {
        font-size: 16pt;
    }
}

.border-1 {
    border: 1px solid;
}

.border-2 {
    border: 2px solid;
}

.color-black {
    color: black;
}

.app-flex-row {
    display: flex;
    flex-direction: row;
}

.app-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.margin-bottom {
    margin-bottom: 20px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;

    &:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
}
